body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

i{
    color: #FFF5E1;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;

}

.field-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 0.5fr));
    gap: 20px;
    justify-content: center;
}
.field-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.field-item:hover {
    transform: scale(1.03); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.field-item h3 {
    margin: 0 0 10px;
}
.field-item p {
    margin: 5px 0;
    color: #555;
}
.reserve-btn {
    display: inline-block;
    padding: 10px 15px;
    background: #596D48;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}
.reserve-btn:hover {
    background: #0056b3;
}
.field-image {
    width: 400px;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/*div {
    border: 1px solid red;
}*/